<div class="container mt-5" > 
    <div class="row">
      <div class="alert alert-success" style="position: absolute; top: 100px; left: 210px; width: 1100px">
          <strong>Inscripción a un curso/Automatricularme</strong>
      </div>
      <div id="matricularse" style="position: absolute; top: 170px; left: 198px">
        <button id="disabled">Automatricularme</button>
        <a href="../inscripcion-s"><button id="buttonins">Solicitar matriculación</button></a>
      </div>
      <div class="col-sm-6"  style="position: absolute; top: 227px; left: 200px; width: 1150px">
        <table class="table table-bordered">
            <tr>
              <th>Imagen</th>
              <th>Nombre del Curso</th>
              <th>Docente</th>
              <th>Ver temas</th>
              <th> </th>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button id="button2">Matricularme</button></td>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button id="button2">Matricularme</button></td>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button id="button2">Matricularme</button></td>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button id="button2">Matricularme</button></td>
            </tr>
          </table>
      </div>
        <i class="glyphicon glyphicon-user"></i>
      </div>
      <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

