<html>
  <body>
    <div id="menu" class="menuCSS3">
      <ul>
        <button style="height: 63px; width: 63px; border: 0;"  class="btn btn-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">☰</button>
  
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><img style="width: 50px; height: 50px;" src="../../../assets/pics/logo-didactic.png">Didactic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/inscripcion-s" class="nav__link">Inscripcion a Curso</p>
            <br>
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/miscursos" class="nav__link">Mis Cursos</p>
            <br>
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/" class="nav__link">Evaluar Curso</p>
            <br>
          </div>
        </div>
      </ul>
    </div> 
  </body>
</html>