<body>
    <div id="menu" class="menuCSS3">
      <ul>
        <button style="height: 63px; width: 63px; border: 0;"  class="btn btn-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">☰</button>
  
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><img style="width: 50px; height: 50px;" src="../../../assets/pics/logo-didactic.png">Didactic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/agregar-tema" class="nav__link">Agregar Temas</p>
            <br>
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/agregar-actividades" class="nav__link">Agregar Actividades a Temas</p>
            <br>
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/lista" class="nav__link">Crear Curso</p>
            <br>
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/inscripcion" class="nav__link">Inscribir Alumnos a curso</p>
            <br>
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/inscripcion-alumnos" class="nav__link">Seguimiento a Alumno</p>
            <br>
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/inscripcion-alumnos" class="nav__link">Agregar comentario a Tema</p>
            <br>
            <p style="color: black; padding: 5px; cursor: pointer;" routerLink="/inscripcion-alumnos" class="nav__link">Validar Solicitudes</p>
          </div>
        </div>
      </ul>
    </div> 
  </body>