<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre Quiz</th>
        <th>Curso</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>QUIZ 1</td>
        <td>Matematicas</td>
        <td>
          <a href="/instructor pantalla quiz" class="btn btn-primary">
            <i class="fas fa-marker"></i>
          </a>
        </td>
        <td>
          <a href="/agregar-Quiz" class="btn btn-danger">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <a href="/instructor crear laboratorio" class="btn btn-success float-right">
      <i class="fa-solid fa-plus"></i>
    </a>
  </table>
</div>
<div>
  <a id="publicar" class="btn btn-primary">Publicar</a>
</div>
