<div class="container p-4">
    <div class="row">
        <div class="cold-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <img src="/assets/pics/logotipoUTNG.png" width="150" height="150"  alt="Logo">
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control" >
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div class="form-group">
                            <button class="btn btn-success" btn-block>Aceptar</button>
                        </div>
                        <a href="/registro">Registrarse</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
