    <div class="container mt-5" >
        <div class="row">
          <div class="alert alert-success" style="position: absolute; top: 100px; left: 210px; width: 1120px">
              <strong>Mis cursos/Temas</strong>
          </div>
    
          <div class="col-sm-6"  style="position: absolute; top: 170px; left: 200px; width: 1150px">
            <table class="table table-bordered">
                <tr>
                  <th width="200px" height="50px">Nombre del curso</th>
    
                  <th>Descripción</th>
    
                </tr>
                <tr>
                  <td>Nombre del tema</td>
                  <td style="text-align: center;" height="70px">Descripción</td>
    
                </tr>
                <tr>
                    
                    <td>Nombre del tema</td>
                    <td style="text-align: center;"height="70px">Descripción</td>
                    
                  </tr>
                  <tr>
                    
                    <td>Nombre del tema</td>
                    <td style="text-align: center;"height="70px">Descripción</td>
                    
                  </tr>
                  <tr>
                    
                    <td>Nombre del tema</td>
                    <td style="text-align: center;"height="70px">Descripción</td>
                    
                  </tr>
                  <tr>
                    
                    <td>Nombre del tema</td>
                    <td style="text-align: center;"height="70px">Descripción</td>
                    
                  </tr>
                  <tr>
                    
                    <td>Nombre del tema</td>
                    <td style="text-align: center;"height="70px">Descripción</td>
                    
                  </tr>
                  <tr>
                    
                    <td>Nombre del tema</td>
                    <td style="text-align: center;"height="70px">Descripción</td>
                    
                  </tr>
                  <tr>
                    
                    <td>Nombre del tema</td>
                    <td style="text-align: center;"height="70px">Descripción</td>
                    
                  </tr>
              </table>
    
              <a href="../inscripcion"><button id="cancel" style="position: absolute; top: 650px; left: 1000px;">Cerrar</button></a>
          </div>
            <i class="glyphicon glyphicon-user"></i>
          </div>
        </div>
      <br>
      <br>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>  
      <br> 
