<div class="container-fluid p-2 container mt-5" >
    <div class="row">
      <div class="alert alert-success" style="position: absolute; top: 100px; left: 210px; width: 1100px">
          <strong>Inscripción a un curso/Solicitar matriculación</strong>
      </div>
      <div id="matricularse" style="position: absolute; top: 170px; left: 198px">
        <a href="../inscripcion"><button id="buttonins">Automatricularme</button></a>
        <button id="disabled">Solicitar matriculación</button>
      </div>
      <div class="col-sm-6"  style="position: absolute; top: 227px; left: 200px; width: 1150px">
        <table class="table table-bordered">
            <tr>
              <th>Imagen</th>
              <th>Nombre del Curso</th>
              <th>Docente</th>
              <th>Ver temas</th>
              <th> </th>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="100px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button class="boton-modal"><label for="btn-modal">Solicitar matriculación</label></button></td>
              <input type="checkbox" id="btn-modal">
              <div class="container-modal">
                  <div class="content-modal">
                    <h2>¡Solicitud enviada!</h2>
                    <p>Se ha enviado la solicitud para matricularte al curso    ¡Espera a que se te permita el acceso!</p>
                    <div class="btn-cerrar">
                      <label for="btn-modal">Cerrar</label>
                    </div>
                  </div>
              </div>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button class="boton-modal"><label for="btn-modal">Solicitar matriculación</label></button></td>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button class="boton-modal"><label for="btn-modal">Solicitar matriculación</label></button></td>
            </tr>
            <tr>
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="80px"></td>
              <td>Ingresar nombre del curso</td>
              <td>Ingresar nombre del docente</td>
              <td><a href="../ver-temas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button class="boton-modal"><label for="btn-modal">Solicitar matriculación</label></button></td>
            </tr>
          </table>
      </div>
        <i class="glyphicon glyphicon-user"></i>
        
      </div>
      <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> 
  <br>
  <br>

