<nav id="nav" class="navbar navbar-expand-sm navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"><img src="../../../assets/pics/logo-didactic.png" id="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" class="item-nav">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item" class="item-nav">
            <a class="nav-link" href="/instructor">Instructor</a>
          </li>
          <li class="nav-item" class="item-nav">
            <a class="nav-link" href="/alumnos">Alumnos</a>
          </li>
          <li class="nav-item" class="item-nav">
            <a class="nav-link" href="/administrador">Administrador</a>
          </li>
          <li class="nav-item" class="item-nav">
            <a class="nav-link" href="#"><img src="../../../assets/pics/foro.png" alt="Foro" width="35px">Foro</a>
          </li>
          <li class="nav-item" class="item-nav">
            <a class="nav-link" href="#"><img src="../../../assets/pics/chat.png" alt="Foro" width="35px">Chat</a>
          </li>
          <li class="nav-item" class="item-nav">
            <a class="nav-link" href="/login"><img src="../../../assets/pics/usuario2.png" alt="Foro" width="30px">Perfil</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form> -->
      </div>
    </div>
  </nav>